{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">



<div  class="ramka">

      <h2 style="center">
          Комбіноване очно-дистанційне тренінгове середовище для розвитку рефлексії тілесного досвіду особистості
      </h2>
<div style="padding: 10px"></div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
            <tr>

                <th>
                    &emsp;&emsp;<a class="page-menu" href="/Diagnostic">Діагностичний блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Info">Інформаційно-просвітницький блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Rozvutok">Розвивальний блок</a>
                </th>
            </tr>
        </table>
        <div style="padding: 15px"></div>
  <p class="page-text"><img src="https://i.ibb.co/hBFV98y/18491754-1393464487366070-7156543969409255199-o.jpg" alt="AnastasiaTraining1" width="60%" class="leftimg">

      З метою розвитку рефлексії тілесного досвіду особистості, зокрема
формування в неї конструктивного рефлексивного стилю в контексті тілесних
практик, нами було розроблено комбіноване очно-дистанційне тренінгове
середовище, спрямоване на забезпечення розвивальної полідіалогічної
      взаємодії між учасниками експерименту.</p>
  <p class="page-text">Метою тренінгу є створення системи комплексних розвивальних впливів
для актуалізації, розгортання та розвитку рефлексивної діяльності в контексті
      тілесного досвіду особистості як засобу її самопроектування.</p>
  <p class="page-text">Програма тренінгу передбачає розширення типів завдань і переходу від
аналізу конкретних проблемних ситуацій, пов’язаних з тілесною сферою
особистості, і завдань на ситуативну рефлексію до завдань на управління
активністю власного тіла в цілому, управління власними рефлексивними
процесами, організацію продуктивної діалогічної комунікації в контексті
формування позиції авторства власного тілесного досвіду учасників
експерименту.</p>
        <h2>Завдання тренінгу</h2>
    <p class="page-text">   <img src="https://i.ibb.co/HTvSVQy/18556849-1393459577366561-925276629170405794-o.jpg" alt="AnastasiaTraining2" width="60%" class="rightimg">
1.&#160;Створити умови для організації продуктивної спільної діяльності учасників комбінованого очно-дистанційного тренінгу, спрямованого на формування в них конструктивного рефлексивного стилю, розвиток рефлексії тілесного досвіду особистості.</p>
    <p class="page-text">2.&#160;Поширити і поглибити уявлення учасників тренінгової групи щодо рефлексивних процесів особистості в цілому, зокрема їхніх особливостей перебігу в контексті тілесних практик.</p>
  <p class="page-text">3.&#160;Застосувати систему комплексних розвивальних впливів на учасників тренінгу щодо актуалізації і розвитку в них рефлексії тілесного досвіду, управління активністю власного тіла та рефлексії цього управління, становлення позиції авторства власного тілесного досвіду.</p>
<h2>Представлені на сайті інформаційні ресурси</h2>
  <p class="page-text">
      Інформаційні ресурси, що представлені на сайті умовно об’єднані в три блока:</p>
    <p class="page-text">
        <a href="/Diagnostic">–  діагностичний;</a>
    </p>
    <p class="page-text">
        <a href="/Info">–  інформаційно-просвітницький;</a>
    </p>
    <p class="page-text">
        <a href="/Rozvutok">–  розвивальний.</a>
    </p>
<p class="page-text">
    <img src="https://i.ibb.co/JrQNpNp/18558732-1393462397366279-2077874559755118753-o.jpg" alt="AnastasiaTraining2" width="40%" class="leftimg">
У свою чергу <a href="/Diagnostic">діагностичний блок</a> містить низку тестів, опитувальників, анкет тощо, спрямованих на визначення рівня здатності особистості до самопроектування, визначення видів та особливостей рефлексивних здібностей особистості, її рефлексивного стилю, певних рефлексивних компетентностей, особливостей рефлексії власного тілесного досвіду.
</p>
    <p class="page-text">

<a href="/Info">Інформаційно-просвітницький блок</a> складається з віртуальної бібліотеки та відеотеки, що містять посилання на окремі статті, журнали, книжки, документальні та художні фільми, відеоблоги, тематичні сайти та сторінки в соціальних мережах, в яких втілені різноманітні ідеї, концепції та роздуми щодо тілесного досвіду особистості: від прикладів надзвичайних тілесних можливостей і досягнень до історій, пов’язаних з виживанням і реабілітацією людей в умовах війни, катастроф, складних хвороб та інвалідизації; від прикладів повсякденних тілесних практик до рефлексій власного тілесного досвіду в процесі творчості, підчас закоханості тощо; від розповідей про народження до оповідей про вмирання та клінічну смерть. Представлена інформація має широку жанрово-стильову палітру: містить наукові джерела, художні і літературні твори, особисті щоденники, окремі факти із життя різних, зокрема видатних, людей і навіть анекдоти тілесної тематики.
</p>
<p class="page-text">До <a href="/Rozvutok">розвивального блоку</a> входять приклади вправ на розвиток продуктивної рефлексії особистості, рефлексії власного тілесного досвіду та формування конструктивного рефлексивного стилю особистості в цілому, посилання на тренінгові програми та різноманітні методики, що сприяють регуляції тілесних реалізацій особистості, становленню авторської позиції щодо свого тіла та власного тілесного досвіду.
</p>
</div>



        <div style="padding: 15px"></div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>
