{% load static %}
<html>
    <head>        <meta name="google-site-verification"
        content="XafH8oDQBumATMhOqNTwJG0RqlgI0Ja3wMZwFlUznd8" />
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
<div class="content">
    <div class="ramka">
        <div style="padding: 10px"></div>

    <div>
                        <a class="aspirants" href="/AnastasiaKolorova">Колярова Анастасія Олегівна</a>

        <table cellpadding="4" width="95%" align="center">

                <tr>
                    <th width="330">
                        <p><img src="https://i.ibb.co/NTcggLk/Anastasia-Ava.jpg" alt="Anastasia Kolorova" style="width:300px;"></p>

                    </th>
                    <th>
                        <p class="aspirantInfo">Аспірант лабораторії когнітивної психології<br>
                        Тема дисертаційного дослідження: РЕФЛЕКСІЯ ТІЛЕСНОГО ДОСВІДУ ЯК ЗАСІБ САМОПРОЕКТУВАННЯ ОСОБИСТОСТІ<br>
                        Науковий керівник: Рудницька Світлана Юріївна</p>
                        <br>
                        <p><a class="aspirantInfoLast" href="/AnastasiaKolorova">Перейти до перегляду детальної інформації</a></p>
                    </th>
                </tr>
            </table>
    </div>
        <div style="padding: 15px"></div>

    <div>
                        <a class="aspirants" href="/AnastasiaKolorova">Галунзовський Ілля Сергійович</a>
        <table cellpadding="4" width="95%" align="center">

                <tr>
                    <th width="330">
                        <p><img src="https://i.ibb.co/6WwZWbJ/man.jpg" alt="Galunzovsky Ilya" style="width:300px;"></p>

                    </th>
                    <th>
                        <p class="aspirantInfo">Аспірант лабораторії когнітивної психології<br>
                        Тема дисертаційного дослідження: ЗДАТНІСТЬ ОСОБИСТОСТІ ДО САМОПРОЕКТУВАННЯ У ВІРТУАЛЬНО ІГРОВОМУ ДИСКУРСІ<br>
                        Науковий керівник: Рудницька Світлана Юріївна</p>
                        <br>
                        <p><a class="aspirantInfoLast" href="/AnastasiaKolorova">Перейти до перегляду детальної інформації</a></p>
                    </th>
                </tr>
            </table>
    </div>
        <div style="padding: 15px"></div>

       <div>
                        <a class="aspirants" href="/AnastasiaKolorova">Gyzyl Kiril</a>
        <table cellpadding="4" width="95%" align="center">

                <tr>
                    <th width="330">
                        <p><img src="https://i.ibb.co/1828DMn/man2.jpg" alt="Gyzyl Kiril" style="width:300px;"></p>

                    </th>
                    <th>
                        <p class="aspirantInfo">Аспірант лабораторії ???<br>
                        Тема дисертаційного дослідження: ???<br>
                        Науковий керівник: ???</p>
                        <br>
                        <p><a class="aspirantInfoLast" href="/AnastasiaKolorova">Перейти до перегляду детальної інформації</a></p>
                    </th>
                </tr>
            </table>
                   <div style="padding: 15px"></div>

    </div>
    </div>
</div>


<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>