{% extends 'blog/base_first.html' %}

{% block content %}

    <div class="aspirant">

        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'aspirant_edit' pk=aspirant.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ aspirant.title }}</h1>
        <p>{{ aspirant.kurator|linebreaksbr }}</p>
        <p>{{ aspirant.diser_name|linebreaksbr }}</p>
        <p>{{ aspirant.text|linebreaksbr }}</p>
        <div>
            <a href="/test">Raznoobraznie treningi</a><br>
            <a href="/intresting">Raznoobraznie interesnosti</a><br>
            <a href="/testAnastasia">TestAnastasia</a><br>
            <a href="/bookAnastasia">BookAnastasia</a><br>

        </div>
    </div>


{% endblock %}