{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
<div class="content">
    <div>
        <br>
        <table cellpadding="4" width="95%" align="center">
                <tr>
                    <th>
                        <a class="aspirants" href="/AnastasiaKolorova">Anastasia Kolorova</a>
                    </th>
                </tr>
                <tr>
                    <th width="330">
                        <p><img src="https://i.ibb.co/NTcggLk/Anastasia-Ava.jpg" alt="Anastasia Kolorova" style="width:300px;"></p>

                    </th>
                    <th>
                        <p class="aspirantInfo">Аспирант лаборатории когнитивной психологии<br>
                        Тема диссертационного исследования: ???<br>
                        Научный руководитель Рудницкая Светлана Юрьевна</p>
                        <br>
                        <p><a class="aspirantInfoLast" href="/AnastasiaKolorova">Перейти к просмотру подробной информации</a></p>
                    </th>
                </tr>
            </table>
    </div>
    <div>
        <br>
        <br>
        <table cellpadding="4" width="95%" align="center">
                <tr>
                    <th>
                        <a class="aspirants" href="/AnastasiaKolorova">Gyzyl Kiril</a>
                    </th>
                </tr>
                <tr>
                    <th width="330">
                        <p><img src="https://i.ibb.co/1828DMn/man2.jpg" alt="Gyzyl Kiril" style="width:300px;"></p>

                    </th>
                    <th>
                        <p class="aspirantInfo">Аспирант лаборатории ???<br>
                        Тема диссертационного исследования: ???<br>
                        Научный руководитель ???</p>
                        <br>
                        <p><a class="aspirantInfoLast" href="/AnastasiaKolorova">Перейти к просмотру подробной информации</a></p>
                    </th>
                </tr>
            </table>
    </div>
    <div>
        <br>
        <br>
        <table cellpadding="4" width="95%" align="center">
                <tr>
                    <th>
                        <a class="aspirants" href="/AnastasiaKolorova">Galunzovsky Ilya</a>
                    </th>
                </tr>
                <tr>
                    <th width="330">
                        <p><img src="https://i.ibb.co/6WwZWbJ/man.jpg" alt="Galunzovsky Ilya" style="width:300px;"></p>

                    </th>
                    <th>
                        <p class="aspirantInfo">Аспирант лаборатории когнитивной психологии<br>
                        Тема диссертационного исследования: Способность к самопроектированию в виртуальном игровом дискурсе<br>
                        Научный руководитель Рудницкая Светлана Юрьевна</p>
                        <br>
                        <p><a class="aspirantInfoLast" href="/AnastasiaKolorova">Перейти к просмотру подробной информации</a></p>
                    </th>
                </tr>
            </table>
        <br>
        <br>
    </div>
</div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>