{% load static %}
<html>
    <head>        <meta name="google-site-verification" content="cLVy8iSH6XIjFs8ofygby820W09DWfGv_Yllu_p_K3w" />
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">



<div  class="ramka">

      <h2 style="center">
          Комбіноване очно-дистанційне тренінгове середовище для розвитку рефлексії тілесного досвіду особистості: <br><br>Діагностичний блок
      </h2>
            <div style="padding: 10px"></div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
            <tr>
                <th>
                    <a class="page-menu" href="/AnastasiaKolorova">Повернутися на попередню сторінку</a>
                </th>
                <th>
                    <a class="page-menu" href="/Diagnostic">Діагностичний блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Info">Інформаційно-просвітницький блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Rozvutok">Розвивальний блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/page5">Про автора</a>
                </th>
            </tr>
        </table>
        <div style="padding: 15px"></div>
<p class="page-text">
                <img src="https://i.ibb.co/bFzQVN1/133435487-4603781-yoga-v-peterburge.jpg" alt="AnastasiaTraining3" width="35%" class="rightimg">
Діагностичний блок містить низку тестів, опитувальників, анкет тощо, спрямованих на визначення рівня здатності особистості до самопроектування, визначення видів та особливостей рефлексивних здібностей особистості, її рефлексивного стилю, певних рефлексивних компетентностей, особливостей рефлексії власного тілесного досвіду.</p>
<p>
            <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-Ymc2JIQXByWExzUnRnU0tQeUR6WGQ0aUNYUUdB/view?usp=sharing">Методика «Диференційна діагностика рефлексивності» (ДДР), Д.О. Леонтьєв, Є.М. Лаптєва, Є.Н. Осин, А.Ж. Саліхова</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmdkZjWnFrYnQ1NzFhSm1temFPd1BXdHZDZkE4/view?usp=sharing">Методика «Шлях до моєї бажаної майбутньої особистості» (модифікація методики провокованого наративу «Моя особистість» О.В. Зазимко)</a><br>
        <div style="padding: 10px"></div>
                            <img src="https://i.ibb.co/QKV6FbD/fitnes-ioga-foto2-lady-from-russia.jpg" alt="AnastasiaTraining3" width="35%" class="leftimg">
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmMWJUSWg1UElhSGdfdEY0RVp1aHotY0JKM2pn/view?usp=sharing">Методика «Моє тіло»</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmOWZjaU5WR1I1WDRSOU8tWWt6YU9NbzlIR2pz/view?usp=sharing">Методика дослідження самоставлення С.Р. Пантєлєєв (МДС)</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmejNTaFRxa3A3Q1dsSW5kTnY5TmFPU0lhQUYw/view?usp=sharing">Опитувальник саморефлексії тілесного потенціалу, Г. Ложкін, А. Рождественський</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmNkozbFVoMENyNFY0TzMtV0VickNNOHFlQTRv/view?usp=sharing">Тест смисложиттєвих орієнтацій (СЖО), Д. О. Леонтьєв</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmSFoyckQ1S2xjUDczaHJWZ01IMWYtOWo0ZGxn/view?usp=sharing">Тест-опитувальник «Рівень суб’єктивного контролю» (РСК) Дж. Роттер</a>
        <div style="padding: 15px"></div>
        </p>



        <div style="padding: 15px"></div>
    </div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>
