{% load static %}
<html>
    <head>        <meta name="google-site-verification"
        content="XafH8oDQBumATMhOqNTwJG0RqlgI0Ja3wMZwFlUznd8" />
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">



<div  class="ramka">

      <h2 style="center">
          Комбіноване очно-дистанційне тренінгове середовище для розвитку рефлексії тілесного досвіду особистості: <br><br>Інформаційно-просвітницький блок
      </h2>
            <div style="padding: 10px"></div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
            <tr>
                <th>
                    <a class="page-menu" href="/AnastasiaKolorova">Повернутися на попередню сторінку</a>
                </th>
                <th>
                    <a class="page-menu" href="/Diagnostic">Діагностичний блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Info">Інформаційно-просвітницький блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Rozvutok">Розвивальний блок</a>
                </th>
            </tr>
        </table>
        <div style="padding: 15px"></div>
<p class="page-text">
                <img src="https://i.ibb.co/FgQZGf1/img-4849.jpg" alt="AnastasiaTraining3" width="35%" class="rightimg">
    Інформаційно-просвітницький блок складається з віртуальної бібліотеки та відеотеки, що містять посилання на окремі статті,
    журнали, <a href="http://www.psychologies.ru/wellbeing/ya-i-moe-telo-9-knig-o-tom-kak-nam-naladit-otnosheniya/">книжки</a>,<a href="https://drive.google.com/file/d/0Bz-bEOfsh-YmOUpkdC10eFZOZUkyb0FLUjk2Y0ZwVGRZcmVJ/view?usp=sharing
"> документальні та художні фільми</a>,<a href="/page1"> відеоблоги</a>, тематичні сайти та сторінки в соціальних мережах, в яких
    втілені різноманітні <a href="https://www.livelib.ru/selection/796241-mozg-i-ego-vozmozhnosti">ідеї, концепції та роздуми</a> щодо тілесного досвіду особистості: від прикладів надзвичайних тілесних
    можливостей і досягнень до історій, пов’язаних з <a href="http://w-o-s.ru/article/15476">виживанням і реабілітацією людей в умовах війни, катастроф, складних хвороб
    та інвалідизації</a>; від прикладів повсякденних тілесних практик до рефлексій власного тілесного досвіду в процесі творчості,
    підчас закоханості тощо; від розповідей про народження до оповідей про вмирання та клінічну смерть. Представлена інформація
    має широку жанрово-стильову палітру: містить наукові джерела, <a href="https://www.adme.ru/tvorchestvo-kino/20-ostryh-filmov-o-chelovecheskoj-psihologii-909910/">художні</a> і літературні твори, особисті щоденники,
    окремі факти із життя різних, зокрема видатних, людей і навіть анекдоти тілесної тематики.<p>
        </p>



        <div style="padding: 15px"></div>
    </div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>
