{% extends 'blog/base_first.html' %}

{% block content %}
    <div class="intresting">

        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'intresting_edit' pk=intresting.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        {% endif %}
        <h1>{{ intresting.title }}</h1>
        <p>{{ intresting.kurator|linebreaksbr }}</p>
        <p>{{ intresting.diser_name|linebreaksbr }}</p>
        <p>{{ intresting.text|linebreaksbr }}</p>
        <p>

        </p>
    </div>
{% endblock %}