{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">

<div  class="ramka">
    <p class="page-text">
        Данное диссертационное исследование посвещено рефлексии телесного опыта.<br>
        Множество людей испытывают на себе этот феномен ежеминутно, не осознавая важности данного процесса и механизмов его осуществления</p>
</div>
<div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
        <tr>
            <th width="25%"><a class="page-menu" href="/page1">Достиженимя человека на <br> физическом поприще</a></th>
            <th width="30%"><a class="page-menu" href="http://w-o-s.ru/article/15476">Преодоление ограничения <br> физических возможностей</a></th>
            <th width="20%"><a class="page-menu" href="http://www.psychologies.ru/wellbeing/ya-i-moe-telo-9-knig-o-tom-kak-nam-naladit-otnosheniya/">Книги о связи <br> тела и души</a></th>
            <th width="25%"><a class="page-menu" href="https://www.adme.ru/tvorchestvo-kino/20-ostryh-filmov-o-chelovecheskoj-psihologii-909910/">Фильмы о человеческой психологии</a></th>
        </tr>
            <tr>
                <th><p><br></p></th>
            </tr>
        <tr padding="10px">
            <th width="25%"><a class="page-menu" href="/page2">Испозьзованные для <br> исследования методики</a></th>
            <th width="30%"><a class="page-menu" href="/page3">Приглашаем принять участие <br> в нескольких заданиях</a></th>
            <th width="20%"><a class="page-menu" href="/page4">Галерея</a></th>
            <th width="25%"><a class="page-menu" href="/page5">Обратная связь</a></th>
        </tr>
        </table>
</div>
    <div  class="ramka">
    <p class="page-text1">Можно перебирать рекорды в Книге Гиннесса, смотреть записи мировых и Олимпийских соревнований, рассматривать разные эпоки, культурные и исторические особенности, побуждающие или вынуждающие достигать вершины в этой сфере.<br>
        Но давайте рассмотрим что-то более близкое, что возможно для современного человека без отрыва от других сфер его жизни, что можно совмещать с нахождением в каменном мегаполисе, темп жизни которого так часто не оставляет нам никакого свободного времени, как, впрочем, физических с душевных сил.<br>
        Мы предлагаем вам познакомиться со следующими людьми, кто в большинстве случаев совместил своё хобби не только с работой, но и с душевным равновесием и физическим здоровьем. Знакомимся! Своим опытом и знаниями деляться знатоки физического и психологического здоровья!
    </p>
</div>
<div>
    <div  class="ramka">
        <p class="page-text1">
            Вашему вниманию предлагаются следующие видео материалы, просим ознакомиться с предложенным списком и уделить своё внимание и время заинтересовавшим вас разделам:
        </p>
    </div>
    <div style="padding: 15px"></div>
    <table width="95%" cellspacing="0" cellpadding="4" align="center">
        <tr>
            <th>
                <p style="padding: 15px">НА СКОЛЬКО МОЖНО ПОТОЛСТЕТЬ ЗА ДЕНЬ?</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3OU1vQIm5cI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
            <th>
                <p style="padding: 15px">ТРИ МОНСТРА НЕ СЧИТАЯ ГОГАДЗИЛЛЫ</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lP7N9DPNW3Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
        </tr>
        <tr>
            <th>
                <p style="padding: 15px">Эксперименты в ПОХУДЕНИИ / ДО ПОСЛЕ</p>
                <iframe width="560" height="315"  src="https://www.youtube.com/embed/9iMta5j7Rmg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
            <th>
                <p style="padding: 15px">Йога для начинающих, для похудения.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WoBdIU1OpSw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
        </tr>
        <tr>
            <th>
                <p style="padding: 15px">Фитнес и йога</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Oh7B0CcApQg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
            <th>
                <p style="padding: 15px">СОЧИ ЛЕТО 2018 ВЛОГ</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/I4R9bGaCzFw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
        </tr>
    </table>

</div>
        <div style="padding: 15px"></div>
        <div  class="ramka">
            <p class="page-text">
                Добро пожаловать! Мы рады видеть вас) хорошего вам времяпровождения вместе с нами.
            </p>
        </div>
        <div style="padding: 15px"></div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>
