{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
<div>
    <p>
        Данное диссертационное исследование посвещено рефлексии телесного опыта.
        Множество людей испытывают на себе этот феномен ежеминутно, не осознавая важности данного процесса и механизмов его осуществления.
        Информация изложенная ниже позволит наглядно продемонстрировать особенности и способы протекания рефлексии телесного опыта.
        Мы предлагаем вам принять участие в исследовании, больше узнать о сорбственном теле, взаимосвязи психологического с физическим и просто расширить кругозор.
        Добро пожаловать! Мы рады видеть вас) хорошего вам времяпровождения вместе с нами.
    </p>
</div>

    <div>
        <p>
            Вашему вниманию предлагаются следующие варинаты информации, просим ознакомиться с предложенным списком и уделить своё внимание и время заинтересовавшим вас разделам:
        </p>


    </div>
  <div class="page-podval">

    &copy; 4ehsir

  </div>
</body>
</html>