
{% load static %}
<html>
    <head>        <meta name="google-site-verification" content="cLVy8iSH6XIjFs8ofygby820W09DWfGv_Yllu_p_K3w" />
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">



<div  class="ramka">

      <h2 style="center">
          Комбіноване очно-дистанційне тренінгове середовище для розвитку рефлексії тілесного досвіду особистості: <br><br>Про автора
      </h2>
            <div style="padding: 10px"></div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
            <tr>
                <th>
                    <a class="page-menu" href="/AnastasiaKolorova">Повернутися на попередню сторінку</a>
                </th><th></th>
                <th>
                    <a class="page-menu" href="/Diagnostic">Діагностичний блок</a>
                </th><th></th>
                <th>
                    <a class="page-menu" href="/Info">Інформаційно-просвітницький блок</a>
                </th><th></th>
                <th>
                    <a class="page-menu" href="/Rozvutok">Розвивальний блок</a>
                </th><th></th>
                <th>
                    <a class="page-menu" href="/page5">Про автора</a>
                </th>
            </tr>
        </table>
        <div style="padding: 15px"></div>

                <img src="https://i.ibb.co/NTcggLk/Anastasia-Ava.jpg" alt="AnastasiaTraining3" width="35%" class="rightimg">
                        <p class="aspirants">Колярова Анастасія Олегівна</p>


                        <p class="aspirantInfo">Тема дисертаційного дослідження: <br>РЕФЛЕКСІЯ ТІЛЕСНОГО ДОСВІДУ ЯК ЗАСІБ САМОПРОЕКТУВАННЯ ОСОБИСТОСТІ.</p>
                            <p class="aspirantInfo">Роботу виконано в лабораторії когнітивної психології.</p>

    <p class="aspirantInfo">Науковий керівник:<br> доктор психологічних наук, доцент
Рудницька Світлана Юріївна,
Інститут психології імені Г. С. Костюка НАПН України,
Завідувач лабораторії когнітивної психології.</p>

                        <p class="page-text1">
                            Зворотній зв’язок з Анастасією:<br>
                            Телефон – +380991346709<br>
                            Emael – anastasia.kolorova@gmail.com
                        </p>
    <p class="aspirantInfo">
        Апробація результатів дослідження
    </p>
    <p class="page-text">Основні положення і результати
дослідження було оприлюднено та обговорено на ряді наукових та науково-
практичних заходів, серед яких всеукраїнські конференції та семінари: І, ІІ
Всеукраїнські науково-практичні конференції «Соціальна робота в сучасному
суспільстві: тенденції, виклики, перспективи» (Полтава, 2017, 2018 рр.); XX
Всеукраїнська науково-практична конференція студентів, аспірантів та молодих
вчених «Людина у вимірах сучасних суспільних трансформацій» Київ, 2017);
Методологічний семінар НАПН України «Особистість в умовах кризових викликів
сучасності» (Київ, 2016 р.); Науково-практичний семінар «Проблеми розвитку
особистості у комунікативному просторі» (Київ, 2018 р.); міжнародні конференції:
XV, XVІ Міжнародні наукові конференції «Традиція і культура. Лабіринти
еволюції: становлення людини та людства» (Київ, 2016, 2017 рр.); ІІІ Міжнародна
науково-методична конференція «Генеза буття особистості» (Київ, 2016 р.); ІV, V,
VІ Міжнародні науково-практичні Інтернет-конференції «Віртуальний освітній
простір: психологічні проблеми» (Київ, 2017, 2018 рр.); Міжнародна науково-
методична конференція «Сучасна освіта та інтеграційні процеси» (Краматорськ,
2017 р.); ХXV, ХXVІ, ХXVІІ Міжнародні наукові конференції «Мова і культура»
імені Сергія Бураго (Київ, 2016, 2017, 2018 рр.).
    </p>
    <p class="aspirantInfo">
        Список опублікованих праць за темою дисертації
    </p>
<p class="page-text">
1. Статті в наукових фахових виданнях<br>
                    <img src="https://i.ibb.co/Wc2n2tK/IMG-8244.jpg" alt="AnastasiaTraining3" width="35%" class="leftimg">

    1.1. Колярова А. О. Принципи створення комбінованого очно-дистанційного
тренінгу як середовища розвитку рефлексії тілесного досвіду особистості. Актуальні
проблеми психології : зб. наук. пр. Ін-ту психології імені Г. С. Костюка НАПН
України. Т. ХІІ : Психологія творчості. Київ, 2018. Вип. 24. С. 101–109.<br>
1.2. Колярова А. О. Проблематизація рефлексії тілесного досвіду особистості в
процесі її самопроектування. Актуальні проблеми психології : зб. наук. пр. Ін-ту
психології імені Г. С. Костюка НАПН України. Том. ІІ: Психологічна герменевтика.
Київ. Житомир, 2018. Вип. 11. С. 148–162.<br>
1.3. Колярова А. О. Семантичний простір сприйняття тіла особистостями,
здатними до самопроектування. Актуальні проблеми психології: зб. наук. пр. Ін-ту
психології імені Г.С. Костюка НАПН України. Том. ІІ: Психологічна герменевтика.
Київ. Житомир, 2017. Вип. 10. С. 200–213.<br>
1.4. Колярова А. О. Проблема тілесного досвіду особистості в психологічному
дискурсі. Освіта та розвиток обдарованої особистості. 2017. № 5 (60). С. 18–20.<br>
1.5. Колярова А. О. Здатність особистості до самопроектування : постановка
проблеми. Освіта та розвиток обдарованої особистості. 2017. № 6 (61). С. 10–14.<br>
1.6. Колярова А. О. Проблематизація поняття тілесності в сучасній психології.
Навчання і виховання обдарованої дитини : теорія та практика : збірник наукових
праць / В. В. Камишин (гол. ред.) та інші. К. : Інститут обдарованої дитини, 2017.
    Вип. 1 (18). С. 119–125.
</p>
<p class="page-text">
2. Статті в українських наукометричних періодичних виданнях<br>
                        <img src="https://i.ibb.co/gFkxqJP/551573f0213e46d0098b459e-56b34354ef198.jpg" alt="AnastasiaTraining3" width="35%" class="rightimg">

2.1. Колярова А.О. Розвиток рефлексії тілесного досвіду в умовах різних
навчальних середовищ. Технології розвитку інтелекту. 2018. Т. 2. № 9 (20). URL :
http://psytir.org.ua/index.php/technology_intellect_develop/article/view/354 (дата
звернення : 15.12.2018)<br>
2.2. Колярова А. О. Особливості рефлексивних процесів осіб із різним
тілесним досвідом у контексті самопроектування. Психологічний часопис : збірник
наукових праць / за ред. С.Д. Максименка. К. : Інститут психології імені
Г. С. Костюка Національної академії педагогічних наук України, 2018. № 6. Вип. 16.
С. 95–108. URL :
        http://www.apsijournal.com/index.php/psyjournal/issue/view/16/PDF%20Psychological%
    20journal-6-2018 (дата звернення : 08.01.2018)
</p>
    <p class="page-text">
3. Статті та тези апробаційного характеру<br>
3.1. Колярова А. О. Психологічні особливості рефлексії тілесного досвіду
особистості в процесі самопроектування. Проблеми розвитку особистості у
комунікативному просторі: збірник тез доповідей всеукраїнського науково-
практичного семінару «Проблеми розвитку особистості у комунікативному
просторі», 27 листопада 2018 р. Київ / ред. кол. : Н. В. Чепелєва (гол.ред.) та ін. –
Чернівці : Чернівецький нац-й унів-т ім. Ю. Федьковича, 2018. С. 70–74. URL :
http://e-cat.scilib.chnu.edu.ua/reslib/elib/science/educ/probl_rozvytku_seminar_2018.pdf
(дата звернення : 15.12.2018)<br>
3.2. Колярова А. О. Повышение эффективности психологического тренинга с
помощью виртуального пространства. Віртуальний освітній простір : психологічні
проблеми : матеріали VІ Міжнародної науково-практичної Інтернет-конференції.
Київ, 2018.URL : http://newlearning.org.ua/sites/default/files/tezy/2018/Kolyarova_Anast
asiya_2018.pdf (дата звернення : 07.01.2019)<br>

                                <img src="https://i.ibb.co/B4BdP57/1509251-10203443214194939-8276361872084469377-n.jpg" alt="AnastasiaTraining3" width="35%" class="leftimg">

        3.3. Колярова А. О. Особливості рефлексії тілесного досвіду в контексті
самопроектування особистості Соціальна робота в сучасному суспільстві :
тенденції, виклики, перспективи : матеріали ІІ Всеукраїнської наук.-практ. конф., м.
Полтава, 28 лютого 2018 р. К. : Університет «Україна, 2018. С. 195–197.<br>
3.4. Колярова А. О. Особенности телесного опыта способных к
самопроектированию личностей. Сучасна освіта та інтеграційні процеси : збірник
наукових праць міжнародної науково-методичної конференції, 22-23 листопада
2017 р., м. Краматорськ / під заг. ред. С. В. Ковалевського, д-ра техн. наук., проф.
Краматорськ : ДГМА, 2017. С. 98–100.<br>
3.5. Колярова А. О. Особливості впливу отриманого тілесного досвіду на
здатність особистості до самопроектування. Традиція і культура. Людина у світі
духовної культури : матеріали міжнародної наукової конференції (Київ, 15 грудня
2017 р.). К. : «Новий Акрополь», 2017. С. 21–23.<br>
        3.6. Колярова А. О. Проблема телесности и новые медиа. Віртуальний
освітній простір : психологічні проблеми : матеріали V Міжнародної науково-
практичної Інтернет-конференції. Київ, 2017. URL :
http://www.newlearning.org.ua/system/files/sites/default/files/zagruzheni/koliarova_anasta
siia_2017.pdf (дата звернення : 06.01.2019)<br>
3.7. Колярова А. О. Проблема здатності особистості до самопроектування :
психолого-герменевтичний підхід. Соціальна робота в сучасному суспільстві :
тенденції, виклики, перспективи : матеріали Всеукраїнської наук.-практ. конф.,
м. Полтава, 28 лютого 2017 р. К. : Університет «Україна, 2017. С. 88–90.<br>
3.8. Колярова А. О. Рефлексия телесного опыта как составляющая авторской
позиции к жизни. Традиція і культура. Лабіринти еволюції : становлення людини та
людства : матеріали міжнародної наукової конференції (Київ, 16 грудня 2016 р.).
К. : «Новий Акрополь», 2016. Ч. 2. С. 23–24.
    </p>





        <div style="padding: 15px"></div>
    </div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>


