{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">

<div  class="ramka">
    <p class="page-text">
        Данное диссертационное исследование посвещено рефлексии телесного опыта.<br>
        Множество людей испытывают на себе этот феномен ежеминутно, не осознавая важности данного процесса и механизмов его осуществления</p>
</div>
<div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
        <tr>
            <th width="25%"><a class="page-menu" href="/page1">Достиженимя человека на <br> физическом поприще</a></th>
            <th width="30%"><a class="page-menu" href="http://w-o-s.ru/article/15476">Преодоление ограничения <br> физических возможностей</a></th>
            <th width="20%"><a class="page-menu" href="http://www.psychologies.ru/wellbeing/ya-i-moe-telo-9-knig-o-tom-kak-nam-naladit-otnosheniya/">Книги о связи <br> тела и души</a></th>
            <th width="25%"><a class="page-menu" href="https://www.adme.ru/tvorchestvo-kino/20-ostryh-filmov-o-chelovecheskoj-psihologii-909910/">Фильмы о человеческой психологии</a></th>
        </tr>
            <tr>
                <th><p><br></p></th>
            </tr>
        <tr padding="10px">
            <th width="25%"><a class="page-menu" href="/page2">Испозьзованные для <br> исследования методики</a></th>
            <th width="30%"><a class="page-menu" href="/page3">Приглашаем принять участие <br> в нескольких заданиях</a></th>
            <th width="20%"><a class="page-menu" href="/page4">Галерея</a></th>
            <th width="25%"><a class="page-menu" href="/page5">Обратная связь</a></th>
        </tr>
        </table>
</div>
    <div  class="ramka">
    <p class="page-text1">
        В проведении исследовательской работы были рассмотрены и использованы следующие психодиагностические методики, что позволили подвести работу к её завершающему, констатирующему этапу.
    </p>
</div>
<div>
    <div  class="ramka">
        <p class="page-text1">
            Вашему вниманию предлагаются следующие материалы, просим ознакомиться с предложенным списком и уделить своё внимание и время заинтересовавшим вас разделам:
        </p>
    </div>
    <div style="padding: 15px"></div>
</div>

        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-Ymc2JIQXByWExzUnRnU0tQeUR6WGQ0aUNYUUdB/view">Методика «Дифференциальная диагностика рефлексивности» (ДДР), Д.А. Леонтьев, Е.М. Лаптева, Е.Н. Осин, А.Ж. Салихова</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmMWJUSWg1UElhSGdfdEY0RVp1aHotY0JKM2pn/view">Методика «Мое тело»</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmdkZjWnFrYnQ1NzFhSm1temFPd1BXdHZDZkE4/view">Методика «Путь к моей желаемой будущей личности» (модификация методики провоцируемого нарратива «Моя личность» О.В. Зазимко)</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmOWZjaU5WR1I1WDRSOU8tWWt6YU9NbzlIR2pz/view">Методика исследования самоотношения С.Р. Пантелеев (МИС)</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmejNTaFRxa3A3Q1dsSW5kTnY5TmFPU0lhQUYw/view">Опросник саморефлексии телесного потенциала, Г. Ложкин, А. Рождественский</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmNkozbFVoMENyNFY0TzMtV0VickNNOHFlQTRv/view">Тест смысложизненных ориентаций (СЖО), Д. А. Леонтьев</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmSFoyckQ1S2xjUDczaHJWZ01IMWYtOWo0ZGxn/view">Тест-опросник «Уровень субъективного контроля» (УСК) Дж. Роттер</a>
        <div style="padding: 15px"></div>
        <div  class="ramka">
            <p class="page-text">
                Добро пожаловать! Мы рады видеть вас) хорошего вам времяпровождения вместе с нами.
            </p>
        </div>
        <div style="padding: 15px"></div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>
