{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">

<div  class="ramka">
    <p class="page-text">
        Данное диссертационное исследование посвещено рефлексии телесного опыта.<br>
        Множество людей испытывают на себе этот феномен ежеминутно, не осознавая важности данного процесса и механизмов его осуществления</p>
</div>
<div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
        <tr>
            <th width="25%"><a class="page-menu" href="/page1">Достиженимя человека на <br> физическом поприще</a></th>
            <th width="30%"><a class="page-menu" href="http://w-o-s.ru/article/15476">Преодоление ограничения <br> физических возможностей</a></th>
            <th width="20%"><a class="page-menu" href="http://www.psychologies.ru/wellbeing/ya-i-moe-telo-9-knig-o-tom-kak-nam-naladit-otnosheniya/">Книги о связи <br> тела и души</a></th>
            <th width="25%"><a class="page-menu" href="https://www.adme.ru/tvorchestvo-kino/20-ostryh-filmov-o-chelovecheskoj-psihologii-909910/">Фильмы о человеческой психологии</a></th>
        </tr>
            <tr>
                <th><p><br></p></th>
            </tr>
        <tr padding="10px">
            <th width="25%"><a class="page-menu" href="/page2">Испозьзованные для <br> исследования методики</a></th>
            <th width="30%"><a class="page-menu" href="/page3">Приглашаем принять участие <br> в нескольких заданиях</a></th>
            <th width="20%"><a class="page-menu" href="/page4">Галерея</a></th>
            <th width="25%"><a class="page-menu" href="/page5">Обратная связь</a></th>
        </tr>
        </table>
</div>
                 <div style="padding: 15px"></div>
        <table cellpadding="4" width="95%" align="center">
                <tr>
                    <th>
                        <a class="aspirants">Anastasia Kolorova</a>
                    </th>
                </tr>
                <tr>
                    <th width="330">
                        <p><img src="https://i.ibb.co/NTcggLk/Anastasia-Ava.jpg" alt="Anastasia Kolorova" style="width:300px;"></p>

                    </th>
                    <th>
                        <p class="aspirantInfo">По возникающим вопросам/преложениям/комментариям прошу обращаться непосредственно ко мне за следующими контактными данными:</p>
                        <br>
                        <p>
                            Телефон:???<br>
                            Emael:???<br>
                            Страница социальных сетей:???
                        </p>
                    </th>
                </tr>
            </table>

         <div style="padding: 15px"></div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>
