
{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">



<div  class="ramka">

      <h2 style="center">
          Комбіноване очно-дистанційне тренінгове середовище для розвитку рефлексії тілесного досвіду особистості: <br><br>Інформаційно-просвітницький блок
      </h2>
            <div style="padding: 10px"></div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
            <tr>
                <th>
                    <a class="page-menu" href="/AnastasiaKolorova">Повернутися на попередню сторінку</a>
                </th>
                <th>
                    <a class="page-menu" href="/Diagnostic">Діагностичний блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Info">Інформаційно-просвітницький блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Rozvutok">Розвивальний блок</a>
                </th>
            </tr>
        </table>
        <div style="padding: 15px"></div>


    <table width="95%" cellspacing="0" cellpadding="4" align="center">
        <tr>
            <th>
                <p style="padding: 15px">НА СКОЛЬКО МОЖНО ПОТОЛСТЕТЬ<br> ЗА ДЕНЬ?</p>
                <iframe width="400" height="215" src="https://www.youtube.com/embed/3OU1vQIm5cI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
            <th>
                <p style="padding: 15px">ТРИ МОНСТРА НЕ СЧИТАЯ <br>ГОГАДЗИЛЛЫ</p>
                <iframe width="400" height="215" src="https://www.youtube.com/embed/lP7N9DPNW3Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
        </tr>
        <tr>
            <th>
                <p style="padding: 15px">Эксперименты в ПОХУДЕНИИ / ДО ПОСЛЕ</p>
                <iframe width="400" height="215"  src="https://www.youtube.com/embed/9iMta5j7Rmg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
            <th>
                <p style="padding: 15px">Йога для начинающих, для похудения.</p>
                <iframe width="400" height="215" src="https://www.youtube.com/embed/WoBdIU1OpSw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
        </tr>
        <tr>
            <th>
                <p style="padding: 15px">Фитнес и йога</p>
                <iframe width="400" height="215" src="https://www.youtube.com/embed/Oh7B0CcApQg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
            <th>
                <p style="padding: 15px">СОЧИ ЛЕТО 2018 ВЛОГ</p>
                <iframe width="400" height="215" src="https://www.youtube.com/embed/I4R9bGaCzFw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </th>
        </tr>
    </table>



        <div style="padding: 15px"></div>
    </div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>

