{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">

<div  class="ramka">
    <p class="page-text">
        Данное диссертационное исследование посвещено рефлексии телесного опыта.<br>
        Множество людей испытывают на себе этот феномен ежеминутно, не осознавая важности данного процесса и механизмов его осуществления</p>
</div>
<div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
        <tr>
            <th width="25%"><a class="page-menu" href="/page1">Достиженимя человека на <br> физическом поприще</a></th>
            <th width="30%"><a class="page-menu" href="http://w-o-s.ru/article/15476">Преодоление ограничения <br> физических возможностей</a></th>
            <th width="20%"><a class="page-menu" href="http://www.psychologies.ru/wellbeing/ya-i-moe-telo-9-knig-o-tom-kak-nam-naladit-otnosheniya/">Книги о связи <br> тела и души</a></th>
            <th width="25%"><a class="page-menu" href="https://www.adme.ru/tvorchestvo-kino/20-ostryh-filmov-o-chelovecheskoj-psihologii-909910/">Фильмы о человеческой психологии</a></th>
        </tr>
            <tr>
                <th><p><br></p></th>
            </tr>
        <tr padding="10px">
            <th width="25%"><a class="page-menu" href="/page2">Испозьзованные для <br> исследования методики</a></th>
            <th width="30%"><a class="page-menu" href="/page3">Приглашаем принять участие <br> в нескольких заданиях</a></th>
            <th width="20%"><a class="page-menu" href="/page4">Галерея</a></th>
            <th width="25%"><a class="page-menu" href="/page5">Обратная связь</a></th>
        </tr>
        </table>
</div>
    <div  class="ramka">
    <p class="page-text1">
        Мы просим принять вас участие в тренинге по развитию телесного опыта личности.
        Трениг включает в себя 7 заданий, каждое из которых предлагает выполнить несколько упражнений.
        Сами задания разбиты на два блока: Факультативная составляющая тренинга (3 задания) и Нормативная составляющая тренинга (4 задания).
    </p>
</div>
<div>
    <div  class="ramka">
        <p class="page-text1">
            Вашему вниманию предлагаются следующие материалы, просим ознакомиться с предложенным списком и уделить своё внимание и время прохождению разработанного нами тренинга:
        </p>
    </div>
</div>
        <div  class="ramka">
            <p class="page-text">
            Нормативная составляющая тренинга:
            </p>
        </div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmYTd6ZHp4Q08tLXhqT2tpM1R6a1g0MEJNWUw0/view?usp=sharing">1. Задание на ситуативную рефлексию телесного опыта</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmUUhVcGQ0bGdYc3k0eTlUODd3eWRGZlluRTlz/view">2. Задание на тематическую организацией телесного опыта личности на примере конкретных ситуаций из жизни участников группы</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmdkZjWnFrYnQ1NzFhSm1temFPd1BXdHZDZkE4/view">3. Задание на анализ конкретных проблемных ситуаций, связанных с телесной сферой личности</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmNG1RbkQtUUJTZFFHWXFsVS1nUmZNeWtxeHJN/view">4. Задание на организацию продуктивной диалогической коммуникации участников группы в контексте формирования позиции авторства собственного телесного опыта</a><br>
        <div  class="ramka">
            <p class="page-text">
            Факультативная составляющая тренинга:
            </p>
        </div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmNXFsOFoxTjhacnZTVWY3dTRNd0RqVEl0dnZz/view">5. Задание на ситуативную рефлексию множественности собственного телесного опыта на примере конкретных ситуаций из жизни участников группы</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmdHhtUlNtbXpabEdvQWhWb3FHam9CZXlRVnV3/view">6. Задание на интеграцию отдельных составляющих собственного телесного опыта</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmTTcwSUlxMnhwb010bGhrVDNYSzVBVUpTVmhr/view">7. Задание на определение основных принципов смислотворення собственного телесного опыта</a>
        <div style="padding: 15px"></div>
        <div  class="ramka">
            <p class="page-text">
                Добро пожаловать! Мы рады видеть вас) хорошего вам времяпровождения вместе с нами.
            </p>
        </div>
        <div style="padding: 15px"></div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>
