{% load static %}
<html lang="ru">
    <head>




    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="/examples/vendors/bootstrap-4.1/css/bootstrap.min.css" rel="stylesheet">




        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">

<div  class="ramka">
    <p class="page-text">
        Данное диссертационное исследование посвещено рефлексии телесного опыта.<br>
        Множество людей испытывают на себе этот феномен ежеминутно, не осознавая важности данного процесса и механизмов его осуществления</p>
</div>
<div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
        <tr>
            <th width="25%"><a class="page-menu" href="/page1">Достиженимя человека на <br> физическом поприще</a></th>
            <th width="30%"><a class="page-menu" href="http://w-o-s.ru/article/15476">Преодоление ограничения <br> физических возможностей</a></th>
            <th width="20%"><a class="page-menu" href="http://www.psychologies.ru/wellbeing/ya-i-moe-telo-9-knig-o-tom-kak-nam-naladit-otnosheniya/">Книги о связи <br> тела и души</a></th>
            <th width="25%"><a class="page-menu" href="https://www.adme.ru/tvorchestvo-kino/20-ostryh-filmov-o-chelovecheskoj-psihologii-909910/">Фильмы о человеческой психологии</a></th>
        </tr>
            <tr>
                <th><p><br></p></th>
            </tr>
        <tr padding="10px">
            <th width="25%"><a class="page-menu" href="/page2">Испозьзованные для <br> исследования методики</a></th>
            <th width="30%"><a class="page-menu" href="/page3">Приглашаем принять участие <br> в нескольких заданиях</a></th>
            <th width="20%"><a class="page-menu" href="/page4">Галерея</a></th>
            <th width="25%"><a class="page-menu" href="/page5">Обратная связь</a></th>
        </tr>
        </table>
</div>
    <div  class="ramka">
    <p class="page-text1">
        Здесь вашему вниманию мы предоставляем фото отчёт о посещённых и проведённых нами мероприятниях, описание эмоционального состояния излишне, фотографии очень хорошо передают все чувства и настрой, охвативший участников процесса) А описывать физические ощущения, сложности, достижения и последующие результаты - мы предлагаем вам испытать подобное лично! Это непередаваемый опыт и впечатления, что мы настоятельно рекомендуем вам испытать на себе!
    </p>
</div>
<div>
    <div  class="ramka">
        <p class="page-text1">
            Вашему вниманию предлагаются следующие фото материалы, просим ознакомиться с предложенным списком и уделить своё внимание и время, надесь мы сможем вас ещё сильнее заинтересовать данным вопросом после просмотра вами фотографий:
        </p>
    </div>
</div>














<!-- Контент страницы -->
<div class="container text-center">

    <div id="carousel" class="carousel slide d-inline-block" data-ride="carousel">
        <!-- Индикаторы -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="https://i.ibb.co/Msv9yB1/podgot1.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/9Ndvwqm/jznak.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/FgQZGf1/img-4849.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/Wc2n2tK/IMG-8244.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/QKV6FbD/fitnes-ioga-foto2-lady-from-russia.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/bFzQVN1/133435487-4603781-yoga-v-peterburge.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/JrQNpNp/18558732-1393462397366279-2077874559755118753-o.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/BZkZVRS/18589100-1393464420699410-1489898300159959391-o.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/hBFV98y/18491754-1393464487366070-7156543969409255199-o.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/HTvSVQy/18556849-1393459577366561-925276629170405794-o.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/B4BdP57/1509251-10203443214194939-8276361872084469377-n.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/FwYzpC7/843756-10151422646724548-122393158-o.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/b2PCCVv/8741-10151645783174548-8788796-n.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://i.ibb.co/gFkxqJP/551573f0213e46d0098b459e-56b34354ef198.jpg" alt="...">
            </div>
        </div>
        <!-- Элементы управления -->
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>

</div>



<!-- jQuery -->
<script src="/examples/vendors/jquery/jquery-3.3.1.min.js"></script>
<!-- Popper -->
<script src="/examples/vendors/popper.js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/examples/vendors/bootstrap-4.1/js/bootstrap.min.js"></script>











        <div style="padding: 15px"></div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>
