{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/Aspirants">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div class="content">



<div  class="ramka">

      <h2 style="center">
          Комбіноване очно-дистанційне тренінгове середовище для розвитку рефлексії тілесного досвіду особистості: <br><br>Розвивальний блок
      </h2>
            <div style="padding: 10px"></div>

        <table width="95%" cellspacing="0" cellpadding="4" align="center">
            <tr>
                <th>
                    <a class="page-menu" href="/AnastasiaKolorova">Повернутися на попередню сторінку</a>
                </th>
                <th>
                    <a class="page-menu" href="/Diagnostic">Діагностичний блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Info">Інформаційно-просвітницький блок</a>
                </th>
                <th>
                    <a class="page-menu" href="/Rozvutok">Розвивальний блок</a>
                </th>
            </tr>
        </table>
        <div style="padding: 15px"></div>
<p class="page-text">
До розвивального блоку входять приклади вправ на розвиток продуктивної рефлексії особистості, рефлексії власного тілесного досвіду та формування конструктивного рефлексивного стилю особистості в цілому, посилання на тренінгові програми та різноманітні методики, що сприяють регуляції тілесних реалізацій особистості, становленню авторської позиції щодо свого тіла та власного тілесного досвіду.<p>
            <div style="padding: 10px"></div>
        <p>            <img src="https://i.ibb.co/JrQNpNp/18558732-1393462397366279-2077874559755118753-o.jpg" alt="AnastasiaTraining3" width="30%" class="rightimg">

            <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmYTd6ZHp4Q08tLXhqT2tpM1R6a1g0MEJNWUw0/view?usp=sharing">1. Завдання на ситуативну рефлексію тілесного досвіду особистості</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmUUhVcGQ0bGdYc3k0eTlUODd3eWRGZlluRTlz/view?usp=sharing">2. Завдання на тематичну організацією тілесного досвіду особистості на прикладі конкретних ситуацій з життя учасників групи</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmNVYyOER5QTk5S0xpcXpjVnc0VTVSUC03NWxn/view?usp=sharing">3. Завдання на аналіз конкретних проблемних ситуацій, пов’язаних з тілесною сферою особистості</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmNG1RbkQtUUJTZFFHWXFsVS1nUmZNeWtxeHJN/view?usp=sharing">4. Завдання на організацію продуктивної діалогічної комунікації учасників групи в контексті формування позиції авторства власного тілесного досвіду</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmNXFsOFoxTjhacnZTVWY3dTRNd0RqVEl0dnZz/view?usp=sharing">5. Завдання на ситуативну рефлексію множинності власного тілесного досвіду на прикладі конкретних ситуацій з життя учасників групи</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmdHhtUlNtbXpabEdvQWhWb3FHam9CZXlRVnV3/view?usp=sharing">6. Завдання на інтеграцію окремих складових власного тілесного досвіду</a><br>
        <div style="padding: 10px"></div>
        <a class="page-menu" href="https://drive.google.com/file/d/0Bz-bEOfsh-YmTTcwSUlxMnhwb010bGhrVDNYSzVBVUpTVmhr/view?usp=sharing">7. Завдання на визначення основних принципів смислотворення власного тілесного досвіду</a>
        <div style="padding: 15px"></div>
        </p>



        <div style="padding: 15px"></div>
    </div>
    </div>
<div>
    <p class="page-podval">
        &copy; 4ehsir
    </p>
</div>
</body>
</html>
