{% load static %}
<html>
    <head>
        <title>Лабораторія КП</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">

        <h1><a href="/">Лабораторія когнітивної психології <br> Інституту психології імені Г.С. Костюка <br> НАПН України </a></h1>
    </div>
    <div>
        <a href="/aspirant">Aspirants</a>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. Он характеризуется высокой эмоциональностью, прямой речью, богатством красок, эпитетов и метафор, а также призван воздействовать на воображение читателя и выступает в роли спускового крючка для его фантазии. Итак, сегодня мы подробно и на наглядных примерах рассматриваем художественный стиль текстов и его применение в копирайтинге.
Особенности художественного стиля

Как уже было сказано выше, художественный стиль наиболее часто используется в художественной литературе: романах, новеллах, рассказах, повестях и прочих литературных жанрах. Этому стилю не присущи оценочные суждения, сухость и официальность, которые свойственны научному и официально-деловому стилям. Вместо этого для него характеры повествование и передача мельчайших деталей, чтобы сформировать в воображении читателя филигранную форму передаваемой мысли.

В контексте копирайтинга художественный стиль нашел новое воплощение в гипнотических текстах, которым на этом блоге посвящен целый раздел «Гипнотический копирайтинг». Именно элементы художественного стиля позволяют текстам воздействовать на лимбическую систему головного мозга читателя и запускать необходимые автору механизмы, благодаря которым достигается порой весьма любопытный эффект. Например, читатель не может оторваться от романа или у него возникает сексуальное влечение, а также другие реакции, о которых мы еще будем вести речь в последующих статьях.
Элементы художественного стиля

В любом художественном тексте присутствуют элементы, которые характерны для стиля его изложения. Для художественного стиля наиболее характерны:

    Детализация
    Передача чувств и эмоций автора
    Эпитеты
    Метафоры
    Сравнения
    Аллегория
    Использование элементов других стилей
    Инверсия

Рассмотрим все эти элементы более подробно и на примерах.
1. Детализация в художественном тексте

Первое, что можно выделить во всех художественных текстах – это наличие подробностей, причем, практически ко всему.

Пример художественного стиля №1

    Лейтенант шел по желтому строительному песку, нагретому дневным палящим солнцем. Он был мокрым от кончиков пальцев до кончиков волос, все его тело было усеяно царапинами от острой колючей проволоки и ныло от сводящей с ума боли, но он был жив и направлялся к командному штабу, который виднелся на горизонте метрах в пятистах.

2. Передача чувств и эмоций автора

Иногда в художественном тексте автор передает свои чувства и эмоции, чтобы сформировать у читателя нужное отношение к тем или иным описываемым объектам. Это отношение может быть как положительным, так и отрицательным.

Пример художественного стиля №2

    Варенька, такая милая, добродушная и отзывчивая девушка, глаза которой всегда лучились добротой и теплом, с невозмутимым видом сущего демона шла к бару «Гадкий Гарри» с автоматом Томпсона наперевес, готовая укатать в асфальт этих мерзких, грязных, вонючих и скользких типов, посмевших пялиться на ее прелести и пускать похотливые слюни.

3. Эпитеты

Эпитеты наиболее характерны для художественных текстов, поскольку именно они отвечают за насыщенность лексики. Эпитеты могут быть выражены существительным, прилагательным, наречием или глаголом и чаще всего представляют собой связки слов, одно или несколько из которых дополняют другое.

Примеры эпитетов

        Несказанно счастлива
        Люто ненавидеть
        Гул паровоза
        Зверский аппетит
        Волки сыты и т.д.

Пример художественного стиля №3 (с эпитетами)

    Яша был всего лишь мелким пакостником, который, тем не менее, имел очень большой потенциал. Еще в розовом детстве он виртуозно тырил яблоки у тети Нюры, а не прошло и каких-то двадцати лет, как он с тем же лихим запалом переключился на банки в двадцати трех странах мира, причем умудрялся так мастерски их обчищать, что ни полиция, ни Интерпол никак не могли взять его с поличным.

4. Метафоры

Метафоры – это слова или выражения в переносном значении. Нашли широкое распространение среди классиков русской художественной литературы.
            </div>
        </div>
    </div>
    <div>
        <p><a href="http://htmlbook.ru/html/a">Tags for a HTML?</a></p>
    </div>
</body>
</html>