{% extends 'blog/base_first.html' %}

{% block content %}
    <div class="test">

        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'test_edit' pk=test.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        {% endif %}
        <h1>{{ test.title }}</h1>
        <p>{{ test.kurator|linebreaksbr }}</p>
        <p>{{ test.diser_name|linebreaksbr }}</p>
        <p>{{ test.text|linebreaksbr }}</p>
        <p>

        </p>
    </div>
{% endblock %}