.page-menu {
    text-align: center;
    font-family: 'Times New Roman', serif;
    color: #40E0D0;
    font-size: 16pt;

}

.page-header {
    background-color: #40E0D0;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.aspirants {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 28pt;
}

.aspirantInfo {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 16pt;
}

.aspirantInfoLast {
    color: #40E0D0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 16pt;
}

.ramka {
    margin: 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #40E0D0;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

